.idea
.gradle
out
build
.settings/
.vscode/
.project
.classpath
bin/
lib

!/gradle
.Rproj.user

outputtxt/*
data/
reports/
results/thesis

plots/

src/main/r/plots
src/main/r/.Rhistory
src/main/r/*.html
src/main/r/*.RData

